.catalog {
  padding-top: 27px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  line-height: 36px;
}

.catalog__offer {
  padding: 187px 55px 43px;
  margin-bottom: 35px;
  background-image: url("../img/icon-gift.png"), url("../img/offer-img.jpg");
  background-repeat: no-repeat;
  background-size: 78px 80px, 280px 290px;
  background-position: top 59px center, top center;
  background-color: #000000;
  text-align: center;
}

.catalog__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    line-height: 60px;
    margin-bottom: 84px;
  }

  .catalog {
    padding-top: 65px;
  }

  .catalog__offer {
    margin-bottom: 75px;
    background-size: 80px 83px, 707px 200px;
    background-position: left 77px center, top center;
    padding: 71px 125px 69px 421px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-top: 74px;
  }
}
