.comments__textarea {
  padding: 14px;
  max-height: 150px;
  min-height: 150px;
  max-width: 280px;
  min-width: 280px;
  box-sizing: border-box;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}
