.form-selection__label {
  display: inline-block;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.form-selection__input {
  padding: 14px 10px 13px;
  margin-left: 13px;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  outline: 1px solid #e7e7e7;
}

.form-selection__title {
  margin-bottom: 35px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.form-selection__group {
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
}
