.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.main-footer__list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__link {
  display: block;
  padding: 0 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__logo-text {
  display: block;
  margin: 0 auto;
  fill: #111111;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.main-footer__copyright {
  display: block;
  margin-top: 20px;
  padding: 7px 40px 7px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding: 55px 0;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__link {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .main-footer__list {
    display: flex;
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-footer__copyright {
    margin: 0;
    padding: 9px 50px 9px 5px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    padding: 66px 0;
  }
}
