.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.main-footer__link {
  display: block;
  padding: 0 50px;
  margin-bottom: 20px;
  text-align: center;
}

.main-footer__copyright {
  display: block;
  margin-top: 20px;
  padding: 7px 40px 7px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding: 55px 0;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__link {
    margin: 0;
    padding: 0;
  }

  .main-footer__list {
    display: flex;
  }

  .main-footer__copyright {
    margin: 0;
    padding: 9px 50px 9px 5px;
  }
}
