.product__title {
  margin: 0;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  grid-column: 1/-1;
  width: 76px;
  margin-bottom: 14px;
}

.product__key {
  font-size: 12px;
  line-height: 16px;
}

.product__value {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.product__button {
  grid-column: 1/-1;
}

.product__wrapper-img {
  width: 140px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__inner {
  display: grid;
  grid-template-columns: 70px 70px;
  align-items: baseline;
  justify-content: space-around;
  justify-items: stretch;
  padding-bottom: 4px;
}

.product__link {
  display: grid;
  grid-column: 1/-1;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .product__wrapper-img {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  .product__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
    justify-self: center;
  }

  .product__key {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__value {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__button {
    margin-top: 26px;
  }

  .product__inner {
    grid-template-columns: 125px 125px;
    row-gap: 5px;
    align-items: stretch;
  }
}

@media (min-width: @desktop-width) {
  .product__wrapper-img {
    width: 169px;
    height: 210px;
    margin-bottom: 12px;
  }

  .product__img {
    &--small {
      width: 161px;
      height: 172px;
    }

    &--big {
      width: 172px;
      height: 196px;
    }
  }

  .product__title {
    width: 140px;
    margin-bottom: 18px;
  }

  .product__inner {
    grid-template-columns: repeat(2, 85px);
  }

  .product__key {
    padding-bottom: 7px;
  }

  .product__value {
    padding-bottom: 7px;
  }

  .product__button {
    margin-top: 30px;
  }
}
