.promo {
  padding-top: 27px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #000000 302px, #ffffff 302px, #ffffff 100%);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
  rgba(104, 183, 56, 0.85)),
    url("../img/promo-background.jpg"),
    linear-gradient(#4c4a4f, #4c4a4f);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)),
      url("../img/promo-background@2x.jpg"),
      linear-gradient(#4c4a4f, #4c4a4f);
    background-size: auto 302px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  display: block;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .promo {
    padding-top: 65px;
    margin-bottom: 0;
    background-image: none;
  }

  .promo__title {
    width: 510px;
    color: #000000;
    line-height: 60px;
    margin-bottom: 40px;
    padding-left: 90px;
    text-align: left;
  }

  .promo__slogan {
    padding-left: 90px;
    margin-bottom: 21px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__button {
    width: 244px;
    padding: 17px 15px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 526px;
    left: 90px;
  }

  .promo__img {
    display: block;
    width: 709px;
    height: 609px;
  }

  .promo__wrapper {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    padding: 0 0 52px 80px;
  }

  .promo__title {
    padding-left: 0;
    max-width: 416px;
  }

  .promo__slogan {
    padding-left: 0;
    margin-bottom: 52px;
    max-width: 416px;
  }

  .promo__img {
    width: 552px;
    height: 499px;
    position: absolute;
    top: -81px;
    left: 447px;
  }

  .promo {
    position: relative;
    padding-top: 224px;
    padding-bottom: 186px;

    &::after {
      position: absolute;
      content: "";
      background-image: linear-gradient(rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
        url("../img/promo-background-desktop.jpg"),
        linear-gradient(#4c4a4f, #4c4a4f);
      background-size: cover;
      background-color: #000000;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)),
          url("../img/promo-background-desktop@2x.jpg"),
          linear-gradient(#4c4a4f, #4c4a4f);
        background-size: cover;
      }
    }
  }

  .promo__button {
    left: 80px;
    bottom: -2px;
  }
}
