.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__icon-vkontakte {
  fill: #666666;
}

.social__icon-youtube {
  fill: #666666;
}

.social__icon-telegram {
  fill: #666666;
}

.social__link {
  display: block;
  height: inherit;

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    mask-image: url("../img/sprite.svg#icon-vkontakte");
    background-color: #666666;

    &:focus,
    &:hover {
      background-color: #68b738;
    }
  }

  &--youtube {
    mask-image: url("../img/sprite.svg#icon-youtube");
    background-color: #666666;

    &:focus,
    &:hover {
      background-color: #68b738;
    }
  }

  &--telegram {
    mask-image: url("../img/sprite.svg#icon-telegram");
    background-color: #666666;

    &:focus,
    &:hover {
      background-color: #68b738;
    }
  }
}
