.special {
  padding-bottom: 49px;
}

.special__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.special__item + .special__item {
  margin-top: 20px;
}

.special__item {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 20px;

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &--keep {
    &::before {
      background-image: url("../img/icon-keep.svg");
      background-repeat: no-repeat;
      background-position: left 17px center;
    }
  }

  &--kind {
    &::before {
      background-image: url("../img/icon-kind.svg");
      background-repeat: no-repeat;
      background-position: left 17px center;
    }
  }

  &--change {
    &::before {
      background-image: url("../img/icon-eat.svg");
      background-repeat: no-repeat;
      background-position: left 17px center;
    }
  }

  &--duration {
    &::before {
      background-image: url("../img/icon-duration.svg");
      background-repeat: no-repeat;
      background-position: left 17px center;
    }

    & br {
      display: none;
    }
  }
}

.special__title {
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .special__wrapper {
    padding-top: 45px;
  }

  .special__title {
    margin-bottom: 32px;
  }

  .special__list {
    display: grid;
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
    counter-reset: section;
  }

  .special {
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  .special__item + .special__item {
    margin-top: 0;
  }

  .special__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    padding: 40px 0 57px;

    &::after {
      position: absolute;
      left: 115px;
      top: 0;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      counter-increment: section;
      content: counter(section);
      z-index: -1;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &--keep {
      &::before {
        background-position: center;
      }
    }

    &--kind {
      &::before {
        background-position: center;
      }
    }

    &--change {
      &::before {
        background-position: center;
      }
    }

    &--duration {
      &::before {
        background-position: center;
      }

      & br {
        display: block;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .special__wrapper {
    padding-top: 0;
  }

  .special {
    padding-bottom: 69px;
    border-bottom: none;
  }

  .special__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
