.special {
  margin-bottom: 49px;
}

.special__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.special__item + .special__item {
  margin-top: 26px;
}

.special__title {
  margin: 0;
  margin-bottom: 40px;
}
